body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    padding-bottom: 60px;
}

header {
    background-color: chocolate;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    color: rgba(1, 1, 1, 0.7);
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Georgia", serif;
    text-align: center;
    border-bottom: 3px solid chocolate;
    display: inline-block;
    padding-bottom: 5px;
}

#about {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
}

#about:hover {
    background-color: #e0e0e0;
}

#about img {
    border-radius: 50%;
    margin-right: 20px;
}

#about p {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects ul li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#education p {
    line-height: 1.6;
}

#contact {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.1rem;
}

#contact a {
    color: chocolate;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    clear: both;
}
